.pageSettings{
  background-color: rgba(54, 58, 64, 0.1);
}

h1{
  font-family: "questrian 2";
  font-size: 50px;
}

h5{
  font-family: "questrian 2";
  font-size: 30px;
}

p{
  font-size: 20px;
  text-align: justify;
}

.coverFont{
  height: 400px;
  background-image: url("../../images/prueba3.png");
  background-size:cover;
  background-position: center;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
  color: white;
}

.smallCover{
  height: 300px;
  background-size:cover;
  background-position: center;
}

.backgroundBottom{
  background-position: bottom;
}

.cardSettings{
  min-width: 20rem;
  max-width: 30rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0,0,0,0.6);
  margin-top: 3rem;
}

.imageCardSettings{
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.card-title{
  min-height: 2.5rem;
}

.card-text{
  min-height: 5rem;
}

.product-stripe{
  overflow-x: scroll;
  padding-top: : 1rem;
  padding-bottom: 1rem;
}

.stripe-container{
  display: flex;
}

.stripe-container .card{
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}

.adjustable-iframe{
  position: relative;
  padding-top: 56.25%; /*Trucazo */
}

.adjustable-iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container{
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
