.pageSettings{
  background-color: rgba(54, 58, 64, 0.1);
  font-family: "arial";
}

h1,h2,h3,h4,h5{
  font-family: "questrian 2";
}

.coverFont{
  height: 400px;
  background-image: url("Images/prueba3.png");
  background-size:cover;
  background-position: center;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
  color: white;
}

.smallCover{
  height: 300px;
  background-size:cover;
  background-position: center;
}

.backgroundBottom{
  background-position: bottom;
}

.cardSettings{
  min-width: 20rem;
  max-width: 30rem;
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0,0,0,0.6);
  margin-top: 3rem;
}

.imageCardSettings{
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.card-title{
  min-height: 2.5rem;
}

.card-text{
  min-height: 5rem;
}
